body {
  font-size: 16px;
  color: #fff;
  background-color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #333;
  border-radius: 0;
  border: 0;
}

#custom-navbar-brand {
  margin-left: 25px;
  width: 500px;
}

.navbar-img	{
	display: inline-block;
	 width: 20%; 
	 height: 20%;
}

.title {
	font-size: 150%;
	color: white;
}

#nav-list a{
	color: whitesmoke;
	height: 100%;
	text-align: center;
}

#nav-list a:hover {
	background: lightgrey;
	color: #333;
}

/**


body {
	color: #444444;
	font-family: 'Orbitron', sans-serif;
}

#header-nav {
  background-color: #red;
  border-radius: 0;
  border: 0;
}
ul {
	list-style-type: none;
	width: 13%;
	background-color: #444;
	height: 100%;
	position: fixed;
}
	

.nav-item:hover {
background-color: darkseagreen;
}**/