body {
  font-size: 16px;
  color: #fff;
  background-color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #333;
  border-radius: 0;
  border: 0;
}

#custom-navbar-brand {
  margin-left: 25px;
  width: 350px;
}

.navbar-img	{
	/* TODO:  make size a ratio of image size */;
	display: inline-block;
	 width: 20%; 
	 height: 20%;
}

.title {
	font-size: 150%;
	color: white;
}

#nav-list a{
	color: whitesmoke;
	height: 100%;
	text-align: center;
}

#nav-list a:hover {
	background: lightgrey;
	color: #333;
}

button.navbar-toggler, .navbar-toggler-icon {
  	background: lightgrey;

}

button.navbar-toggler {
  clear: both;
}

.container .jumbotron {
	box-shadow: 0 0 50px darkgray;
	border: 2px solid lightblue;
	margin-top: 15px;
}


#timeline-tile, #mech-tile, #spotting-tile {
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid lightblue;
	overflow: hidden;
	box-shadow: 0 0 30px darkgray;
}

#timeline-tile span, #spotting-tile span, #mech-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .5;
} 
#timeline-tile {
	background: url('img/timelineimage.jpg');
	background-position: center;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('./img/jumbotron_1200.png') no-repeat;
    height: 646px;
  
 
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    background: url('./img/jumbotron_992.png') no-repeat;
    height: 544px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('./img/jumbotron_768.png') no-repeat;
    height: 408px;
  }
  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
	/* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #timeline-tile, #mech-tile, #spotting-tile {
  	width: 333px;
  	margin: 0 auto 15px;	
  }

}
.card-footer {
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}

#copyright {
	text-align: center;
	margin: auto;
}